#include "../lib/io/input.h"
#include "../lib/io/output.h"
#include "../lib/range/range.h"

class %ClassName% {
public:
	void solve(istream& inp, ostream& outp) {
        Input in(inp);
        Output out(outp);


	}
};
